# Archivos que git debería ignorar. Inspirado por el de SciPy.
# Archivos de PyCharm #
#######################
.idea/
.settings/
*.tmp

# Código compilado #
###################
__pycache__/

# Archivos de Python #
######################
# Metadatos "Egg"
*.egg-info
# configuración distutils
site.cfg
setup.cfg

dist/
build/

# Documentación #
#################
docs/.tx/*

# Archivos de VENSIM #
######################
*.vdf

# Archivos de Tinamït #
#######################
*.tin

# Archivos de SAHYSMOD #
########################
*.frq
*.gwt
*.out
*.inp
*.lst

