language: python
python:
  - "3.6"

matrix:
  include:
  - os: linux
    sudo: required
    python: 3.6

  - os: osx
    language: generic

install:
  - pip install --upgrade pip setuptools wheel
  - pip install -r reqs.txt
  - pip install coveralls codecov
  - python setup.py sdist bdist_wheel
  - pip install tinamit --no-index --find-links=./dist
  - rm -r tinamit

script:
- cd pruebas
- coverage run -m unittest

after_success:
  - coveralls --rcfile=.coveragerc
  - codecov
