language: python
python:
  - "3.6"

install:
  - pip install --upgrade pip setuptools wheel
  - pip install -r requirements.txt
  - pip install coveralls

script:
  - cd pruebas
  - nosetests --with-coverage
  - coveralls