numpy
scipy
matplotlib
pandas
python_dateutil
pymc3>=3.4
regex
lark-parser
lxml
Babel
polib
pint
pyshp
pillow
git+git://github.com/julienmalard/taqdir.git@master
git+git://github.com/julienmalard/pysd.git@master