# Title
(('L'),('TITLE',))
(('L'), ('SUBTITLE',)) 
(('D', 'W'), ('NY', 'NS', 'KY', 'NINETYNINE'))
# General Data
(('D', 'W'),('*TS',))
(('D', 'W'), ('NN_TN', 'NN_IN', 'NN_EX', 'ONE'))
(('D', 'W'), ('*FOURS',))
(('D', 'W'), ('SCALE', 'DELTA', 'ACCUR'))
#Overall System Geometry
(('D', 'W'), ('*N_IN',))
(('D', 'W'), ('*N_EX',))
(('D', 'W'), ('*X_IN',))
(('D', 'W'), ('*X_EX',))
(('D', 'W'), ('*Y_IN',))
(('D', 'W'), ('*Y_EX',))
(('D', 'W'), ('*BL_IN',))
(('D', 'W'), ('*BL_EX',))
(('D', 'W'), ('*KIE_IN',))
(('D', 'W'), ('*KIE_EX',))
#Internal System Geometry
(('D', 'W'), ('*SL',))
(('D', 'W'), ('*DR',))
(('D', 'W'), ('*DX',))
(('D', 'W'), ('*KLC',))
#Hydraulic Conductivity
('FOR[NN_IN]', ((('D', 'W'), ('FROM_N', 'TO_N1', 'KAQ1', 'KTOP1', 'TO_N2', 'KAQ2', 'KTOP2', 'TO_N3', 'KAQ3', 'KTOP3', 'TO_N4', 'KAQ4', 'KTOP4')),))
#???
(('D', 'W'), ('*KVERT',))
(('D', 'W'), ('*DTOP',))
#Total Porosity
(('D', 'W'), ('*PTR',))
(('D', 'W'), ('*PTX',))
(('D', 'W'), ('*PTQ',))
#Effective Porosity/Storage Coefficient
(('D', 'W'), ('*PER',))
(('D', 'W'), ('*PEX',))
(('D', 'W'), ('*PEQ',))
(('D', 'W'), ('*PSQ',))
#Leaching Efficiencies
(('D', 'W'), ('*FLR',))
(('D', 'W'), ('*FLX',))
(('D', 'W'), ('*FLQ',))
#Storage/Irrigation Efficiency
('FOR[NS]', ((('D', 'W'), ('*FSA',)),))
('FOR[NS]', ((('D', 'W'), ('*FSB',)),))
('FOR[NS]', ((('D', 'W'), ('*FSU',)),))
#Indices of Agricultural Practices
(('D', 'W'), ('*KD',))
(('D', 'W'), ('*KF',))
(('D', 'W'), ('*KR',))
(('D', 'W'), ('*KRF',))
#Subsurface Drainage System
(('D', 'W'), ('*DD',))
(('D', 'W'), ('*QH1',))
(('D', 'W'), ('*QH2',))
#Rainfall and Crop Evapotranspiration
('FOR[NS]', ((('D', 'W'), ('*PP',)),))
('FOR[NS]', ((('D', 'W'), ('*EPA',)),))
('FOR[NS]', ((('D', 'W'), ('*EPB',)),))
('FOR[NS]', ((('D', 'W'), ('*EPU',)),))
#Data on Irrigation Water
('FOR[NS]', ((('D', 'W'), ('*LC',)),))
('FOR[NS]', ((('D', 'W'), ('*CIC',)),))
('FOR[NS]', ((('D', 'W'), ('*IAA',)),))
('FOR[NS]', ((('D', 'W'), ('*IAB',)),))
#Surface Inflow/Outflow/Drainage
('FOR[NS]', ((('D', 'W'), ('*SIU',)),))
('FOR[NS]', ((('D', 'W'), ('*SOU',)),))
('FOR[NS]', ((('D', 'W'), ('*SOA',)),))
('FOR[NS]', ((('D', 'W'), ('*SOB',)),))
#Irrigated Area and Rice Crop Index
('FOR[NS]', ((('D', 'W'), ('*A',)),))
('FOR[NS]', ((('D', 'W'), ('*B',)),))
('FOR[NS]', ((('D', 'W'), ('*KCA',)),))
('FOR[NS]', ((('D', 'W'), ('*KCB',)),))
#Re-use of drain and well water
('FOR[NS]', ((('D', 'W'), ('*GU',)),))
('FOR[NS]', ((('D', 'W'), ('*FW',)),))
#Well Discharge and Drainage Reduction Factor
('FOR[NS]', ((('D', 'W'), ('*GW',)),))
('FOR[NS]', ((('D', 'W'), ('*FCD',)),))
#Initial Hydraulic Head and Critical Depth Watertable
(('D', 'W'), ('*H',))
(('D', 'W'), ('*DC',))
(('D', 'W'), ('*HCONF',))
#Initial Salinity Conditions Root Zone
(('D', 'W'), ('*CA0',))
(('D', 'W'), ('*CB0',))
(('D', 'W'), ('*CU0',))
#Initial Salinity Conditions Subsoil
(('D', 'W'), ('*CXA0',))
(('D', 'W'), ('*CXB0',))
(('D', 'W'), ('*CX0',))
(('D', 'W'), ('*CQ0',))
#Aquifer inflow/outfloWconditions
(('D', 'W'), ('*QINF',))
(('D', 'W'), ('*CINF',))
(('D', 'W'), ('*QOUT',))
#Boundary Conditions
(('D', 'W'), ('*CQE',))
('FOR[NS]', ((('D', 'W'), ('*HS',)),))