#Title
!('CSVPAD', 6)
(('L'), ('TITLE',))
(('L'), ('SUBTITLE',))
#General Data
(('L'), ('#',))
(('L'), ('#',))
(('L'), ('#',))
(('D', ','), ('NY', 'NS', 'KY'))
(('L'), ('#',))
('FOR[NS]', ((('D', ','), ('NNS', 'TS')),))
(('L'), ('#',))
(('D', ','), ('NN_TN', 'NN_IN', 'NN_EX'))
(('L'), ('#',))
(('D', ','), ('SCALE', 'DELTA', 'ACCUR'))
(('L'), ('#',))
(('L'), ('#',))
(('L'), ('#',))
#Overall System Geometry
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'X_IN', 'Y_IN', 'BL_IN', 'KIE_IN')),))
('FOR[NN_EX]', ((('D', ','), ('N_EX', 'X_EX', 'Y_EX', 'BL_EX', 'KIE_EX')),))
(('L'), ('#',))
(('L'), ('#',))
(('L'), ('#',))
#Internal System Geometry
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'SL', 'DR', 'DX', 'KLC')),))
(('L'), ('#',))
(('L'), ('#',))
(('L'), ('#',))
#Hydraulic Conductivity
('FOR[NN_IN]', ((('D', ','), ('FROM_N', 'TO_N1', 'KAQ1', 'KTOP1', 'KVERT', 'DTOP')),(('D', ','), ('FROM_N', 'TO_N2', 'KAQ2', 'KTOP2', 'KVERT', 'DTOP')),(('D', ','), ('FROM_N', 'TO_N3', 'KAQ3', 'KTOP3', 'KVERT', 'DTOP')),(('D', ','), ('FROM_N', 'TO_N4', 'KAQ4', 'KTOP4', 'KVERT', 'DTOP'))))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Porosity/Storage Coefficients
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'PTR', 'PTX', 'PTQ')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'PER', 'PEX', 'PEQ', 'PSQ')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Leaching Efficiencies
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'FLR', 'FLX', 'FLQ')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Indices of Agricultural Practices
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'KD', 'KF', 'KR', 'KRF')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Subsurface drainage
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'DD', 'QH1', 'QH2',)),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Initial hydraulic head and critical depth water table
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'H', 'DC', 'HCONF')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Initial Salinity Conditions root zone
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'CA0', 'CB0', 'CU0')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Initial Salinity Conditions subsoil
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'CXA0', 'CXB0', 'CX0', 'CQ0')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Aquifer inflow/outflow conditions
('FOR[NN_IN]', ((('D', ','), ('N_IN', 'QINF', 'CINF', 'QOUT')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Boundary conditions
('FOR[NN_EX]', ((('D', ','), ('N_EX', 'CQE', '*HS')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Irrigation Area and Rice Crop index
('FOR[NN_IN][NS]', ((('D', ','), ('N_IN_S', 'SEASON', 'A', 'B', 'KCA', 'KCB')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Rainfall and Crop Evapotranspiration
('FOR[NN_IN][NS]', ((('D', ','), ('N_IN_S', 'SEASON', 'PP', 'EPA', 'EPB', 'EPU')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Surface inflow, outflow, drainage
('FOR[NN_IN][NS]', ((('D', ','), ('N_IN_S', 'SEASON', 'SIU', 'SOU', 'SOA', 'SOB')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Well discharge and drainage reduction factor
('FOR[NN_IN][NS]', ((('D', ','), ('N_IN_S', 'SEASON', 'GW', 'FCD')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Data on irrigation water
('FOR[NN_IN][NS]', ((('D', ','), ('N_IN_S', 'SEASON', 'LC', 'CIC', 'IAA', 'IAB')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Re-use of drain and well water
('FOR[NN_IN][NS]', ((('D', ','), ('N_IN_S', 'SEASON', 'GU', 'FW')),))
(('L'), ('#',),)
(('L'), ('#',),)
(('L'), ('#',),)
#Storage/irrigation efficiency
('FOR[NN_IN][NS]', ((('D', ','), ('N_IN_S', 'SEASON', 'FSA', 'FSB', 'FSU')),))