[run]
source = tinamit

[report]
omit =
       */trads/*
       */Interfaz/*
       */local/*
       */Ejemplos/*

exclude_lines =
    pragma: no cover
    pragma: sin cobertura
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.: